# Build database

In [1]:
import json
import re
import sqlite3
from collections import defaultdict
from pathlib import Path
from types import SimpleNamespace

import pandas as pd
from tqdm.notebook import tqdm

In [2]:
INAT_DIR = Path("..") / "data" / "inat"

In [3]:
args = SimpleNamespace(
    obs_dir=INAT_DIR / "obs",
    image_dir=INAT_DIR / "images",
    db=INAT_DIR / "inat.sqlite",
    taxa=INAT_DIR / "taxa.csv.gz",  # Loction of iNat taxon info
    plantae=47126,  # The taxon ID for the plant kingdom
)

## Insert taxa data

In [4]:
taxa_df = pd.read_csv(
    args.taxa,
    sep="\t",
    dtype={
        "taxon_id": int,
        "ancestry": str,
        "rank_level": float,
        "rank": str,
        "name": str,
        "active": bool,
    },
).fillna("")
taxa_df.shape

(1394173, 6)

In [5]:
taxa_df = taxa_df.loc[taxa_df["ancestry"].str.contains(f"/{args.plantae}/")]
taxa_df.shape

(364137, 6)

In [6]:
with sqlite3.connect(args.db) as cxn:
    taxa_df.to_sql("taxa", cxn, index=False, if_exists="replace")

## Functions for parsing iNaturalist observation JSON records

### Get record level data from the JSON record

In [7]:
def get_ids(rec, path):
    order = path.stem.split("_")[-1]
    return {
        "obs_id": rec["id"],
        "split": "",
        "order_": order,
    }

### Get phenology data from the JSON record

In [8]:
phenology = {
    13: "Flowering",
    14: "Fruiting",
    # 15: "Flower Budding",
    21: "No Evidence of Flowering",
}


def get_annotations(rec):
    annos = [a["controlled_value_id"] for a in rec["annotations"]]
    pheno = [phenology.get(a["controlled_value_id"]) for a in rec["annotations"]]
    return {
        "annotations": ",".join([str(a) for a in annos]),
        "phenology": ", ".join([p for p in pheno if p]),
        "flowering": 1 if 13 in annos else 0,
        "fruiting": 1 if 14 in annos else 0,
        "neither": 1 if 21 in annos else 0,
    }

### Get taxon data from the JSON record

In [9]:
def get_taxon(rec):
    return {
        "taxon_id": rec["taxon"]["id"],
        "taxon": rec["taxon"]["name"],
        "ancestry": rec["taxon"]["ancestry"],
    }

### Get image data from the JSON record

In [10]:
def get_images(rec, obs_id):
    photos = []
    for photo in rec["photos"]:
        url = photo["url"].replace("square.", size)
        match = re.search(r"/(\d+)/[a-z]+\.([a-z]+)$", url, flags=re.I)

        if not match:
            continue

        image_path = args.image_dir / f"{match[1]}_{size}{match[2]}"

        if not image_path.exists():
            continue

        photos.append(
            {
                "photo_id": photo["id"],
                "obs_id": obs_id,
                "license": photo["license_code"],
                "path": str(image_path),
                "url": url,
            }
        )

    return photos

### Build database records for the observations and images.

In [11]:
size = "medium."  # medium large original

json_paths = sorted(args.obs_dir.glob("*.json"))

annotations = defaultdict(int)

observations = []
images = []

seen = set()  # Don't add the same observation record more than once


for json_path in tqdm(json_paths):
    with open(json_path) as in_file:
        data = json.load(in_file)

    for rec in data:
        obs_rec = get_ids(rec, json_path)
        obs_rec |= get_taxon(rec)
        obs_rec |= get_annotations(rec)

        if not obs_rec["phenology"]:
            continue

        if obs_rec["obs_id"] in seen:
            continue

        seen.add(obs_rec["obs_id"])

        imgs = get_images(rec, obs_rec["obs_id"])
        if not imgs:
            continue

        images += imgs
        observations.append(obs_rec)

  0%|          | 0/370 [00:00<?, ?it/s]

### Build the data frames and write them to the database.

In [12]:
obs_df = pd.DataFrame(observations)
img_df = pd.DataFrame(images)

In [13]:
with sqlite3.connect(args.db) as cxn:
    obs_df.to_sql("obs", cxn, index=False, if_exists="replace")
    img_df.to_sql("images", cxn, index=False, if_exists="replace")

## Count records for each order and each phenology category

In [14]:
counts = defaultdict(
    lambda: {
        "both": 0,
        "flowering": 0,
        "fruiting": 0,
        "neither": 0,
        "total": 0,
    }
)
grand = 0

In [15]:
for obs in observations:
    count = counts[obs["order_"]]
    count["total"] += 1
    grand += 1

    if obs["flowering"] and obs["fruiting"]:
        count["both"] += 1
    else:
        for key in ["flowering", "fruiting", "neither"]:
            if obs[key]:
                count[key] += 1

In [16]:
keys = sorted(counts.keys())
for taxon in keys:
    count = counts[taxon]
    print(
        f"{taxon:20} flowering ={count['flowering']: 5}, "
        f"fruiting ={count['fruiting']: 5}, neither ={count['neither']: 5}, "
        f"both = {count['both']: 5}, total = {count['total']: 5}"
    )
grand

Acorales             flowering =   27, fruiting =   28, neither =    9, both =     1, total =    65
Alismatales          flowering =  500, fruiting =  500, neither =  562, both =    67, total =  1629
Amborellales         flowering =    0, fruiting =    6, neither =    0, both =     0, total =     6
Apiales              flowering =  921, fruiting =  500, neither =  500, both =   208, total =  2129
Aquifoliales         flowering =  500, fruiting =  919, neither =  500, both =    29, total =  1948
Arecales             flowering =  400, fruiting =  519, neither =  708, both =    86, total =  1713
Asparagales          flowering =  851, fruiting =  500, neither =  502, both =    93, total =  1946
Asterales            flowering = 1294, fruiting =  500, neither =  510, both =   225, total =  2529
Austrobaileyales     flowering =   92, fruiting =   35, neither =    7, both =     4, total =   138
Berberidopsidales    flowering =    9, fruiting =    0, neither =    6, both =     0, total =    15
Boraginales          flowering = 1128, fruiting =  273, neither =  500, both =   227, total =  2128
Brassicales          flowering =  771, fruiting =  500, neither =  509, both =   314, total =  2094
Bruniales            flowering =  176, fruiting =    4, neither =    1, both =     4, total =   185
Buxales              flowering =  194, fruiting =   20, neither =   67, both =     1, total =   282
Canellales           flowering =  145, fruiting =   98, neither =   39, both =     8, total =   290
Caryophyllales       flowering =  764, fruiting =  500, neither =  529, both =   118, total =  1911
Celastrales          flowering =  500, fruiting = 1227, neither =  500, both =    31, total =  2258
Ceratophyllales      flowering =    6, fruiting =    1, neither =   46, both =     0, total =    53
Chloranthales        flowering =   51, fruiting =  117, neither =    3, both =     3, total =   174
Commelinales         flowering = 1314, fruiting =  238, neither =  536, both =   277, total =  2365
Cornales             flowering =  595, fruiting =  702, neither =  505, both =    62, total =  1864
Crossosomatales      flowering =  427, fruiting =  491, neither =   65, both =     8, total =   991
Cucurbitales         flowering =  500, fruiting =  865, neither =  504, both =   160, total =  2029
Dilleniales          flowering = 1369, fruiting =   87, neither =   90, both =    18, total =  1564
Dioscoreales         flowering =  648, fruiting =  495, neither =  249, both =    53, total =  1445
Dipsacales           flowering =  500, fruiting =  797, neither =  500, both =    28, total =  1825
Ericales             flowering =  806, fruiting =  500, neither =  501, both =    51, total =  1858
Escalloniales        flowering =  180, fruiting =   20, neither =   18, both =    13, total =   231
Fabales              flowering = 1048, fruiting =  500, neither =  500, both =   167, total =  2215
Fagales              flowering =  500, fruiting =  647, neither =  726, both =    34, total =  1907
Garryales            flowering =  142, fruiting =  194, neither =   69, both =     7, total =   412
Gentianales          flowering =  875, fruiting =  500, neither =  500, both =    70, total =  1945
Geraniales           flowering =  937, fruiting =  500, neither =  503, both =   429, total =  2369
Gunnerales           flowering =   58, fruiting =  107, neither =   35, both =     2, total =   202
Huerteales           flowering =    9, fruiting =    4, neither =    1, both =     0, total =    14
Icacinales           flowering =    9, fruiting =   11, neither =    1, both =     0, total =    21
Lamiales             flowering = 1221, fruiting =  500, neither =  505, both =   129, total =  2355
Laurales             flowering =  580, fruiting =  500, neither =  500, both =    40, total =  1620
Liliales             flowering = 1156, fruiting =  500, neither =  500, both =    36, total =  2192
Magnoliales          flowering =  500, fruiting =  500, neither = 1017, both =    18, total =  2035
Malpighiales         flowering =  824, fruiting =  500, neither =  509, both =   178, total =  2011
Malvales             flowering = 1011, fruiting =  500, neither =  507, both =   186, total =  2204
Metteniusales        flowering =   21, fruiting =   42, neither =    2, both =     1, total =    66
Myrtales             flowering = 1088, fruiting =  500, neither =  500, both =   160, total =  2248
Nymphaeales          flowering = 1232, fruiting =   69, neither =  283, both =    37, total =  1621
Oxalidales           flowering = 1207, fruiting =  500, neither =  500, both =   165, total =  2372
Pandanales           flowering =  269, fruiting =  265, neither =   70, both =    15, total =   619
Paracryphiales       flowering =   39, fruiting =   11, neither =    6, both =     0, total =    56
Petrosaviales        flowering =    2, fruiting =    0, neither =    0, both =     0, total =     2
Picramniales         flowering =    7, fruiting =   10, neither =    0, both =     1, total =    18
Piperales            flowering =  935, fruiting =  501, neither =  500, both =   116, total =  2052
Poales               flowering =  603, fruiting =  728, neither =  501, both =    31, total =  1863
Proteales            flowering = 1025, fruiting =  500, neither =  500, both =    93, total =  2118
Ranunculales         flowering =  916, fruiting =  500, neither =  500, both =    68, total =  1984
Rosales              flowering =  500, fruiting =  613, neither =  500, both =    40, total =  1653
Santalales           flowering =  622, fruiting =  549, neither =  501, both =    87, total =  1758
Sapindales           flowering =  500, fruiting =  615, neither =  536, both =    45, total =  1696
Saxifragales         flowering =  797, fruiting =  500, neither =  501, both =    89, total =  1887
Solanales            flowering =  876, fruiting =  500, neither =  500, both =   177, total =  2053
Trochodendrales      flowering =   21, fruiting =   13, neither =    4, both =     2, total =    40
Vahliales            flowering =    5, fruiting =    0, neither =    0, both =     0, total =     5
Vitales              flowering =  500, fruiting =  618, neither =  638, both =   114, total =  1870
Zingiberales         flowering =  935, fruiting =  500, neither =  281, both =   212, total =  1928
Zygophyllales        flowering =  697, fruiting =  500, neither =  501, both =   177, total =  1875

86951