# Build database

In [1]:
import json
import re
import sqlite3
from collections import defaultdict
from pathlib import Path
from types import SimpleNamespace

import pandas as pd
from tqdm.notebook import tqdm

In [2]:
DATA_DIR = Path("..") / "data"

In [3]:
args = SimpleNamespace(
    obs_dir=DATA_DIR / "inat" / "obs",
    image_dir=DATA_DIR / "inat" / "images",
    db=DATA_DIR / "inat" / "inat.sqlite",
)

## Functions for parsing iNaturalist observation JSON records

#### Get record level data from the JSON record

In [4]:
def get_ids(rec, path):
    order = path.stem.replace("order_", "")
    return {
        "obs_id": rec["id"],
        "split": "",
        "order": order,
    }

#### Get phenology data from the JSON record

In [5]:
phenology = {
    13: "Flowering",
    14: "Fruiting",
    # 15: "Flower Budding",
    21: "No Evidence of Flowering",
}


def get_annotations(rec):
    annos = [a["controlled_value_id"] for a in rec["annotations"]]
    pheno = [phenology.get(a["controlled_value_id"]) for a in rec["annotations"]]
    annos = ",".join([str(a) for a in annos])
    pheno = ", ".join([a for a in pheno if a])
    return {"annotations": annos, "phenology": pheno}

#### Get taxon data from the JSON record

In [6]:
def get_taxon(rec):
    return {
        "taxon_id": rec["taxon"]["id"],
        "taxon": rec["taxon"]["name"],
        "ancestry": rec["taxon"]["ancestry"],
    }

#### Get image data from the JSON record

In [7]:
def get_images(rec, obs_id):
    photos = []
    for photo in rec["photos"]:
        url = photo["url"].replace("square.", size)
        match = re.search(r"/(\d+)/[a-z]+\.([a-z]+)$", url, flags=re.I)

        if not match:
            continue

        image_path = args.image_dir / f"{match[1]}_{size}{match[2]}"

        if not image_path.exists():
            continue

        photos.append(
            {
                "photo_id": photo["id"],
                "obs_id": obs_id,
                "license": photo["license_code"],
                "path": str(image_path),
                "url": url,
            }
        )

    return photos

#### Build database records for the observations and images.

In [8]:
size = "medium."  # medium large original

json_paths = sorted(args.obs_dir.glob("*.json"))

annotations = defaultdict(int)

observations = []
images = []

for json_path in tqdm(json_paths):
    with open(json_path) as in_file:
        data = json.load(in_file)

    for rec in data:
        obs_rec = get_ids(rec, json_path)
        obs_rec |= get_taxon(rec)
        obs_rec |= get_annotations(rec)
        if not obs_rec["phenology"]:
            continue

        imgs = get_images(rec, obs_rec["obs_id"])
        if not imgs:
            continue

        images += imgs
        observations.append(obs_rec)

  0%|          | 0/64 [00:00<?, ?it/s]

#### Build the data frames and write them to the database.

In [9]:
obs_df = pd.DataFrame(observations)

img_df = pd.DataFrame(images)

In [10]:
with sqlite3.connect(args.db) as cxn:
    obs_df.to_sql("obs", cxn, index=False, if_exists="replace")
    img_df.to_sql("images", cxn, index=False, if_exists="replace")

## Count records for each order and each phenology category

In [20]:
counts = defaultdict(lambda: {
    "both": 0,
    "flowering": 0, 
    "fruiting": 0, 
    "neither": 0, 
    "total": 0,
})
grand = 0

In [21]:
for obs in observations:
    count = counts[obs["order"]]
    count["total"] += 1
    grand += 1

    if "13" in obs["annotations"] and "14" in obs["annotations"]:
        count["both"] += 1

    if "13" in obs["annotations"]:
        count["flowering"] += 1

    if "14" in obs["annotations"]:
        count["fruiting"] += 1

    if "21" in obs["annotations"]:
        count["neither"] += 1

In [22]:
keys = sorted(counts.keys())
for taxon in keys:
    count = counts[taxon]
    print(
        f"{taxon:20} flowering ={count['flowering']: 4}, "
        f"fruiting ={count['fruiting']: 4}, neither ={count['neither']: 4}, "
        f"both = {count['both']: 4}, total = {count['total']: 4}"
    )
grand

Acorales             flowering =  28, fruiting =  29, neither =   9, both =    1, total =   65
Alismatales          flowering = 340, fruiting = 269, neither = 397, both =   38, total =  968
Amborellales         flowering =   0, fruiting =   6, neither =   0, both =    0, total =    6
Apiales              flowering = 675, fruiting = 225, neither = 142, both =   88, total =  954
Aquifoliales         flowering = 117, fruiting = 719, neither = 143, both =    2, total =  977
Arecales             flowering = 126, fruiting = 375, neither = 500, both =   27, total =  974
Asparagales          flowering = 476, fruiting =  88, neither = 427, both =   17, total =  974
Asterales            flowering = 786, fruiting = 128, neither = 102, both =   46, total =  970
Austrobaileyales     flowering =  96, fruiting =  39, neither =   7, both =    4, total =  138
Berberidopsidales    flowering =   9, fruiting =   0, neither =   6, both =    0, total =   15
Boraginales          flowering = 825, fruiting = 107, neither = 105, both =   55, total =  982
Brassicales          flowering = 685, fruiting = 321, neither = 163, both =  193, total =  976
Bruniales            flowering = 172, fruiting =   7, neither =   1, both =    3, total =  177
Buxales              flowering = 195, fruiting =  21, neither =  67, both =    1, total =  282
Canellales           flowering = 153, fruiting = 106, neither =  39, both =    8, total =  290
Caryophyllales       flowering = 534, fruiting = 179, neither = 301, both =   51, total =  963
Celastrales          flowering = 151, fruiting = 808, neither =  53, both =   18, total =  994
Ceratophyllales      flowering =   6, fruiting =   1, neither =  46, both =    0, total =   53
Chloranthales        flowering =  54, fruiting = 120, neither =   3, both =    3, total =  174
Commelinales         flowering = 878, fruiting =  53, neither =  77, both =   23, total =  985
Cornales             flowering = 366, fruiting = 539, neither = 104, both =   42, total =  967
Crossosomatales      flowering = 414, fruiting = 476, neither =  64, both =    7, total =  947
Cucurbitales         flowering = 311, fruiting = 718, neither =  34, both =   73, total =  990
Dilleniales          flowering = 928, fruiting =  38, neither =  34, both =   10, total =  990
Dioscoreales         flowering = 454, fruiting = 316, neither = 207, both =   35, total =  942
Dipsacales           flowering = 377, fruiting = 507, neither =  95, both =   19, total =  960
Ericales             flowering = 526, fruiting = 251, neither = 179, both =   25, total =  931
Escalloniales        flowering = 193, fruiting =  33, neither =  18, both =   13, total =  231
Fabales              flowering = 748, fruiting = 194, neither =  97, both =   68, total =  971
Fagales              flowering =  84, fruiting = 386, neither = 513, both =   11, total =  972
Garryales            flowering = 146, fruiting = 201, neither =  68, both =    7, total =  408
Gentianales          flowering = 545, fruiting = 399, neither =  88, both =   50, total =  982
Geraniales           flowering = 744, fruiting = 166, neither = 229, both =  140, total =  999
Gunnerales           flowering =  60, fruiting = 108, neither =  35, both =    2, total =  201
Huerteales           flowering =   9, fruiting =   4, neither =   1, both =    0, total =   14
Icacinales           flowering =   9, fruiting =  11, neither =   1, both =    0, total =   21
Lamiales             flowering = 770, fruiting = 153, neither =  94, both =   41, total =  976
Laurales             flowering = 303, fruiting = 387, neither = 267, both =   19, total =  938
Liliales             flowering = 770, fruiting = 139, neither =  48, both =   14, total =  943
Magnoliales          flowering =  50, fruiting = 237, neither = 706, both =    2, total =  991
Malpighiales         flowering = 604, fruiting = 255, neither = 186, both =   84, total =  961
Malvales             flowering = 713, fruiting = 182, neither = 120, both =   52, total =  963
Metteniusales        flowering =  22, fruiting =  43, neither =   2, both =    1, total =   66
Myrtales             flowering = 798, fruiting = 173, neither =  73, both =   68, total =  976
Nymphaeales          flowering = 818, fruiting =  17, neither = 103, both =    7, total =  931
Oxalidales           flowering = 797, fruiting =  48, neither = 156, both =   19, total =  982
Pandanales           flowering = 283, fruiting = 280, neither =  70, both =   15, total =  618
Paracryphiales       flowering =  39, fruiting =  11, neither =   6, both =    0, total =   56
Petrosaviales        flowering =   2, fruiting =   0, neither =   0, both =    0, total =    2
Picramniales         flowering =   8, fruiting =  11, neither =   0, both =    1, total =   18
Piperales            flowering = 636, fruiting = 102, neither = 251, both =   24, total =  965
Poales               flowering = 387, fruiting = 514, neither =  96, both =   18, total =  979
Proteales            flowering = 715, fruiting = 168, neither =  84, both =   23, total =  944
Ranunculales         flowering = 635, fruiting = 229, neither = 138, both =   29, total =  973
Rosales              flowering = 344, fruiting = 416, neither = 242, both =   25, total =  977
Santalales           flowering = 494, fruiting = 406, neither =  82, both =   57, total =  925
Sapindales           flowering = 216, fruiting = 440, neither = 331, both =   21, total =  966
Saxifragales         flowering = 560, fruiting = 148, neither = 255, both =   14, total =  949
Solanales            flowering = 673, fruiting = 356, neither =  64, both =  108, total =  985
Trochodendrales      flowering =  23, fruiting =  15, neither =   4, both =    2, total =   40
Vahliales            flowering =   5, fruiting =   0, neither =   0, both =    0, total =    5
Vitales              flowering = 113, fruiting = 450, neither = 403, both =   31, total =  935
Zingiberales         flowering = 710, fruiting = 252, neither = 133, both =  115, total =  980
Zygophyllales        flowering = 631, fruiting = 340, neither = 149, both =  133, total =  987

44474