# Build database

In [1]:
import json
import re
import sqlite3
from collections import defaultdict
from pathlib import Path
from types import SimpleNamespace

import pandas as pd
from tqdm.notebook import tqdm

In [2]:
INAT_DIR = Path("..") / "data" / "inat"

In [3]:
args = SimpleNamespace(
    obs_dir=INAT_DIR / "obs",
    image_dir=INAT_DIR / "images",
    db=INAT_DIR / "inat.sqlite",
    taxa=INAT_DIR / "taxa.csv.gz",  # Loction of iNat taxon info
    plantae=47126,  # The taxon ID for the plant kingdom
)

## Insert taxa data

In [4]:
taxa_df = pd.read_csv(
    args.taxa,
    sep="\t",
    dtype={
        "taxon_id": int,
        "ancestry": str,
        "rank_level": float,
        "rank": str,
        "name": str,
        "active": bool,
    },
).fillna("")
taxa_df.shape

(1394173, 6)

In [5]:
taxa_df = taxa_df.loc[taxa_df["ancestry"].str.contains(f"/{args.plantae}/")]
taxa_df.shape

(364137, 6)

In [6]:
with sqlite3.connect(args.db) as cxn:
    taxa_df.to_sql("taxa", cxn, index=False, if_exists="replace")

## Functions for parsing iNaturalist observation JSON records

### Get record level data from the JSON record

In [7]:
def get_ids(rec, path):
    order = path.stem.replace("order_", "")
    return {
        "obs_id": rec["id"],
        "split": "",
        "order_": order,
    }

### Get phenology data from the JSON record

In [8]:
phenology = {
    13: "Flowering",
    14: "Fruiting",
    # 15: "Flower Budding",
    21: "No Evidence of Flowering",
}


def get_annotations(rec):
    annos = [a["controlled_value_id"] for a in rec["annotations"]]
    pheno = [phenology.get(a["controlled_value_id"]) for a in rec["annotations"]]
    pheno = ", ".join([a for a in pheno if a])
    return {
        "annotations": ",".join([str(a) for a in annos]),
        "phenology": pheno,
        "flowering": 1 if 13 in annos else 0,
        "fruiting": 1 if 14 in annos else 0,
        "neither": 1 if 21 in annos else 0,
    }

### Get taxon data from the JSON record

In [9]:
def get_taxon(rec):
    return {
        "taxon_id": rec["taxon"]["id"],
        "taxon": rec["taxon"]["name"],
        "ancestry": rec["taxon"]["ancestry"],
    }

### Get image data from the JSON record

In [10]:
def get_images(rec, obs_id):
    photos = []
    for photo in rec["photos"]:
        url = photo["url"].replace("square.", size)
        match = re.search(r"/(\d+)/[a-z]+\.([a-z]+)$", url, flags=re.I)

        if not match:
            continue

        image_path = args.image_dir / f"{match[1]}_{size}{match[2]}"

        if not image_path.exists():
            continue

        photos.append(
            {
                "photo_id": photo["id"],
                "obs_id": obs_id,
                "license": photo["license_code"],
                "path": str(image_path),
                "url": url,
            }
        )

    return photos

### Build database records for the observations and images.

In [11]:
size = "medium."  # medium large original

json_paths = sorted(args.obs_dir.glob("*.json"))

annotations = defaultdict(int)

observations = []
images = []

for json_path in tqdm(json_paths):
    with open(json_path) as in_file:
        data = json.load(in_file)

    for rec in data:
        obs_rec = get_ids(rec, json_path)
        obs_rec |= get_taxon(rec)
        obs_rec |= get_annotations(rec)

        if not obs_rec["phenology"]:
            continue

        imgs = get_images(rec, obs_rec["obs_id"])
        if not imgs:
            continue

        images += imgs
        observations.append(obs_rec)

  0%|          | 0/64 [00:00<?, ?it/s]

### Build the data frames and write them to the database.

In [12]:
obs_df = pd.DataFrame(observations)

img_df = pd.DataFrame(images)

In [13]:
with sqlite3.connect(args.db) as cxn:
    obs_df.to_sql("obs", cxn, index=False, if_exists="replace")
    img_df.to_sql("images", cxn, index=False, if_exists="replace")

## Count records for each order and each phenology category

In [19]:
counts = defaultdict(
    lambda: {
        "both": 0,
        "flowering": 0,
        "fruiting": 0,
        "neither": 0,
        "total": 0,
    }
)
grand = 0

In [20]:
for obs in observations:
    count = counts[obs["order_"]]
    count["total"] += 1
    grand += 1

    if obs["flowering"] and obs["fruiting"]:
        count["both"] += 1

    for key in ["flowering", "fruiting", "neither"]:
        if obs[key]:
            count[key] += 1

In [21]:
keys = sorted(counts.keys())
for taxon in keys:
    count = counts[taxon]
    print(
        f"{taxon:20} flowering ={count['flowering']: 5}, "
        f"fruiting ={count['fruiting']: 5}, neither ={count['neither']: 5}, "
        f"both = {count['both']: 5}, total = {count['total']: 5}"
    )
grand

Acorales             flowering =   28, fruiting =   29, neither =    9, both =     1, total =    65
Alismatales          flowering =  531, fruiting =  426, neither =  559, both =    55, total =  1461
Amborellales         flowering =    0, fruiting =    6, neither =    0, both =     0, total =     6
Apiales              flowering = 1020, fruiting =  331, neither =  212, both =   132, total =  1431
Aquifoliales         flowering =  210, fruiting =  924, neither =  322, both =     7, total =  1449
Arecales             flowering =  221, fruiting =  560, neither =  707, both =    42, total =  1446
Asparagales          flowering =  838, fruiting =  156, neither =  476, both =    28, total =  1442
Asterales            flowering = 1190, fruiting =  184, neither =  158, both =    74, total =  1458
Austrobaileyales     flowering =   96, fruiting =   39, neither =    7, both =     4, total =   138
Berberidopsidales    flowering =    9, fruiting =    0, neither =    6, both =     0, total =    15
Boraginales          flowering = 1219, fruiting =  182, neither =  165, both =    91, total =  1475
Brassicales          flowering = 1063, fruiting =  496, neither =  215, both =   310, total =  1464
Bruniales            flowering =  179, fruiting =    8, neither =    1, both =     4, total =   184
Buxales              flowering =  195, fruiting =   21, neither =   67, both =     1, total =   282
Canellales           flowering =  153, fruiting =  106, neither =   39, both =     8, total =   290
Caryophyllales       flowering =  787, fruiting =  245, neither =  487, both =    66, total =  1453
Celastrales          flowering =  223, fruiting = 1230, neither =   60, both =    22, total =  1491
Ceratophyllales      flowering =    6, fruiting =    1, neither =   46, both =     0, total =    53
Chloranthales        flowering =   54, fruiting =  120, neither =    3, both =     3, total =   174
Commelinales         flowering = 1316, fruiting =   71, neither =  124, both =    34, total =  1477
Cornales             flowering =  638, fruiting =  750, neither =  129, both =    62, total =  1455
Crossosomatales      flowering =  435, fruiting =  499, neither =   65, both =     8, total =   991
Cucurbitales         flowering =  561, fruiting = 1024, neither =   59, both =   160, total =  1484
Dilleniales          flowering = 1381, fruiting =   58, neither =   58, both =    13, total =  1484
Dioscoreales         flowering =  701, fruiting =  531, neither =  248, both =    53, total =  1427
Dipsacales           flowering =  507, fruiting =  816, neither =  152, both =    27, total =  1448
Ericales             flowering =  807, fruiting =  358, neither =  250, both =    38, total =  1377
Escalloniales        flowering =  193, fruiting =   33, neither =   18, both =    13, total =   231
Fabales              flowering = 1113, fruiting =  285, neither =  157, both =    94, total =  1461
Fagales              flowering =  103, fruiting =  650, neither =  724, both =    12, total =  1465
Garryales            flowering =  149, fruiting =  201, neither =   69, both =     7, total =   412
Gentianales          flowering =  875, fruiting =  542, neither =  120, both =    68, total =  1469
Geraniales           flowering = 1149, fruiting =  267, neither =  305, both =   227, total =  1494
Gunnerales           flowering =   60, fruiting =  108, neither =   35, both =     2, total =   201
Huerteales           flowering =    9, fruiting =    4, neither =    1, both =     0, total =    14
Icacinales           flowering =    9, fruiting =   11, neither =    1, both =     0, total =    21
Lamiales             flowering = 1155, fruiting =  217, neither =  150, both =    54, total =  1468
Laurales             flowering =  617, fruiting =  472, neither =  318, both =    38, total =  1369
Liliales             flowering = 1154, fruiting =  219, neither =   81, both =    24, total =  1430
Magnoliales          flowering =   64, fruiting =  413, neither = 1016, both =     2, total =  1491
Malpighiales         flowering =  918, fruiting =  372, neither =  278, both =   119, total =  1449
Malvales             flowering = 1076, fruiting =  275, neither =  183, both =    85, total =  1449
Metteniusales        flowering =   22, fruiting =   43, neither =    2, both =     1, total =    66
Myrtales             flowering = 1166, fruiting =  262, neither =  129, both =    94, total =  1463
Nymphaeales          flowering = 1235, fruiting =   38, neither =  143, both =    11, total =  1405
Oxalidales           flowering = 1229, fruiting =   63, neither =  211, both =    26, total =  1477
Pandanales           flowering =  283, fruiting =  280, neither =   70, both =    15, total =   618
Paracryphiales       flowering =   39, fruiting =   11, neither =    6, both =     0, total =    56
Petrosaviales        flowering =    2, fruiting =    0, neither =    0, both =     0, total =     2
Picramniales         flowering =    8, fruiting =   11, neither =    0, both =     1, total =    18
Piperales            flowering =  967, fruiting =  136, neither =  375, both =    37, total =  1441
Poales               flowering =  616, fruiting =  742, neither =  136, both =    31, total =  1463
Proteales            flowering = 1062, fruiting =  259, neither =  137, both =    40, total =  1418
Ranunculales         flowering =  950, fruiting =  348, neither =  197, both =    47, total =  1448
Rosales              flowering =  495, fruiting =  642, neither =  366, both =    37, total =  1466
Santalales           flowering =  705, fruiting =  634, neither =  146, both =    87, total =  1398
Sapindales           flowering =  309, fruiting =  642, neither =  531, both =    33, total =  1449
Saxifragales         flowering =  829, fruiting =  259, neither =  377, both =    35, total =  1430
Solanales            flowering = 1005, fruiting =  550, neither =  100, both =   174, total =  1481
Trochodendrales      flowering =   23, fruiting =   15, neither =    4, both =     2, total =    40
Vahliales            flowering =    5, fruiting =    0, neither =    0, both =     0, total =     5
Vitales              flowering =  153, fruiting =  655, neither =  638, both =    38, total =  1408
Zingiberales         flowering = 1098, fruiting =  365, neither =  173, both =   164, total =  1472
Zygophyllales        flowering =  872, fruiting =  513, neither =  263, both =   177, total =  1471

64839